.LXXUploadPic{
	border:0;
	margin:0;
	border-collapse:collapse;
	border-spacing:0;
}

.LXXUploadPic td tr{
}

.LXXUploadPic td{
	padding: 0;
	margin: 0;
	border: 1px solid #ccc;
	background:url(./LXXAdd.png) no-repeat center center;
	position: relative;
}

input[type='file']{
	width: 100%;
	height: 100%;
	overflow: hidden;
    position:absolute;
    right:0;
    top:0;
    opacity: 0;
    cursor:pointer;
}